<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDP oublié</title>
    <!-- <link rel="stylesheet" href="\Projet\validation\connex.css"> -->
</head>
<body>
    <header class="header">
        <!-- <a href="" ><img class="logo" src="\Projet\validation\logoblancpng.png" alt="" srcset=""></a> -->

    </header>
        <div class="container">
        <center> <div class="title">Mot de passe oublié</div></center>
        <form method="post" action="/vacation/controller/sendmail.php">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" name="mail" placeholder="Entrez votre email">
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Modifier le MDP">
            </div>
        </form>
    </div>
</body>
</html>